
/*--------------- basic styling --------------- */

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Roboto Mono" !important;
      background: #0f0f0f !important;
      color: #fff !important;
}
html{
      /* scroll-snap-type: y proximity; */
}

.container .container-fluid{
      padding: 15px !important;
}

.proj_section{
      transition: background 1s;
      box-shadow: black 0px 86px 50px -65px;
      /* scroll-snap-align: end; */
}

.proj_section .row{
      margin: auto;
      width: 95vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-items: center;
      /* scroll-snap-align: start; */
}

.col-lg-4 {
      max-width: 100% !important;
}

.col-lg-6 {
      max-width: 100% !important;
}

.col-lg-5 {
      max-width: 100% !important;
}

.col-lg-8 {
      max-width: 100% !important;
}

.col-lg-7 {
      max-width: 100% !important;
}
.proj_desc{
      display: grid;
      align-content: center;
      justify-items: center;
      margin-bottom: 0;
      line-height: normal;
      position: relative;
      
}

.proj_desc h4{
      width: 100%;
      background: rgba(0, 0, 0, 0.573);
      padding: 15px;
      border-radius: 5px;  
}

@media (max-width: 1000px) {

      .project{
            height: 550px !important;
      }

      .proj_section .row{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
      }

      .proj_section .project{
            grid-column: 1;
            grid-row: 1;
      }

      .proj_desc {
            position: absolute !important;
            width: 80% !important;
            z-index: 1;
      }

      .proj_desc h4{
            line-height: 40px;
      }
   
}

@media (max-width: 500px) {
      .proj_desc h4 {
            font-size: 1rem;
      }

      .hero {
            height: 70vh !important;
      }
}

@media (max-width: 400px) {
      .proj_desc h4 {
            font-size: 0.8rem;
            line-height: 34px;
      }
      .project {
            height: 380px !important;
      }
}

@media (max-width: 992px) {
      .proj_desc h4 {
            font-size: 0.8rem;
            line-height: 30px;
      }
}

/* .................................... */


.hero-logo {
      position: fixed;
      margin: 2em;
      color: white;
      font-family: "Cosi Azure";
      font-style: 16px;
      mix-blend-mode: difference;
      z-index: 2;
}

.menu-toggle {
      position: fixed;
      right: 0;
      margin: 2em;
      color: white;
      z-index: 100;
}

.menu-toggle ion-icon {
      font-style: 16px;
      border: 2px white solid;
}

.overlay {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0f0f0f;
      z-index: 1;
      opacity: 0;
}

.overlay ion-icon {
  position: fixed;
  right: 0;
  margin: 2em;
  color: white;
}

.overlay ul {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      list-style: none;
}

.overlay ul li {
      font-size: 84px;
}

@media (max-width: 900px) {
      .overlay ul li {
      font-size: 30px;
      padding: 10px 0;
      }
}

.overlay ul li a {
      color: transparent;
      -webkit-text-stroke: 1px white;
      font-family: "Times New Roman";
      text-transform: uppercase !important;
}

.overlay ul li a:hover {
      text-decoration: none;
      color: white;
}

/* .................................... */

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

@media(max-width: 1411px) {
      .line {
            font-size: 60px !important;
      }
}

@media(max-width: 1200px) {
      .line {
            font-size: 50px !important;
      }
}

@media(max-width: 1005px) {
      .line {
            font-size: 40px !important;
      }
      .clipped_bg span{
            font-size: 180px !important;
      }
}

@media(max-width: 830px) {
      .line {
            font-size: 30px !important;
      }
      
}

@media(max-width: 600px) {
      .line {
            font-size: 23px !important;
      }
      .clipped_bg span{
            font-size: 130px !important;
      }
}

@media (max-width: 430px) {
      .line {
        font-size: 19px !important;
      }
    }

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 19em;
      }
}

@media(max-width: 830px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 18.3em;
            }
      }
}

@media(max-width: 1000px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 18.1em;
            }
      }
}

@media(max-width: 600px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17.4em;
            }
      }
}


@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17.5em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #0f0f0f97;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      width: max-content;
      font-weight: bold;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero img{
      position: absolute;
      width: 100%;
      height: calc(100vh + 80px);
      object-fit: cover;
      opacity: 0.1;
      top: -80px;
}



.clipped_bg {
      display: grid;
      width: max-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
}
.clipped_bg span{
      font-size: 250px;
      opacity: .4;
      /* line-height: 80px; */
      text-align: center;
      font-weight: 800;
      text-transform: uppercase;
      background: url(img/paint.jpg) 0 0 / cover no-repeat;
      color: #de466c;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
   
   

.hero h1 {
      font-weight: lighter;
      text-align: center;
      letter-spacing: -2px;
      /* line-height: 58px; */
      font-size: 70px;
}

@media(max-width: 768px) {
      .header h1 {
            font-size: 35px;
      }
}


@media (max-width: 450px){
      .header h1 {
            font-size: 28px;
      }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 13px;
      height: 13px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */
h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 600px;
}

.project1 {
      background: url("img/Blue_ECO.jpg") no-repeat 50% 50%;
      background-size: contain;
}

.project1::after {
      content: "blue-eco-solutions.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 8%;
      left: -80%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project2 {
      background: url('img/TSHIRT2.jpg') no-repeat 50% 50%;
      background-size: contain;
}

.project2::after {
      content: "luxe-vogue.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 80%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project3 {
      background: url('img/OCEAN_ORION.jpg') no-repeat 50% 50%;
      background-size: contain;
}

.project3::after {
      content: "ocean-Orion.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 80%;
      left: -50%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project4 {
      background: url('img/C2.jpg') no-repeat 50% 50%;
      background-size: contain;
}

.project4::after {
      content: "pixwave.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project5 {
      background: url('img/nation_altar.png') no-repeat 50% 50%;
      background-size: contain;
}

.project5::after {
      content: "National Altar.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: -60%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project6 {
      background: url('img/bumper.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project6::after {
      content: "Kahawa.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project7 {
      background: url('img/fishflex.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project7::after {
      content: "Fishflex.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: -60%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project8 {
      background: url('img/grad_gold.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project8::after {
      content: "UON Graduation.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project9 {
      background: url('img/jamhuri.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project9::after {
      content: "Jamhuri.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: -60%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project10 {
      background: url('img/juliet_grad.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project10::after {
      content: "Graduation.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project11 {
      background: url('img/pandc.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project11::after {
      content: "Peace and Love.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: -60%;
      right: 0;
      bottom: 0;
      width: max-content;
}


.project12 {
      background: url('img/patricia.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project12::after {
      content: "Education.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

.project13 {
      background: url('img/shoe.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project13::after {
      content: "Drip.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: -60%;
      right: 0;
      bottom: 0;
      width: max-content;
}


.project14 {
      background: url('img/unity_feast.jpeg') no-repeat 50% 50%;
      background-size: contain;
}

.project14::after {
      content: "Unity Fest.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      background: #0f0f0f77;
      padding: 10px 25px;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
      width: max-content;
}

@media(max-width: 995px) {
      
      .project1::after, .project2::after, .project3::after, .project4::after, .project5::after,
      .project6::after, .project7::after, .project8::after, .project9::after, .project10::after,
      .project11::after, .project12::after, .project13::after, .project14::after  {
            top: 3%;
            left: 1%;
            width: max-content;
      }
}

@media(max-width: 750px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after, .project5::after,
      .project6::after, .project7::after, .project8::after, .project9::after, .project10::after,
      .project11::after, .project12::after, .project13::after, .project14::after {
            display: none;
      }
}

/*--------------- footer section --------------- */
.footer_email{
      font-size: 20px; 
      text-decoration: none; 
      color: white;
}
.collab {
      text-align: right;
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #fff;
      font-size: 18px;
      padding-left: 20px;
}

#fb::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #3b5998;
}


#ig::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #fcaf45;
}


#tw::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #55acee;
}


#yt::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 4px;
      width: 4px;
      margin-right: 6px;
      background: #c4302b;
}

#media, #address {
      text-align: right;
}

#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content p {
      font-weight: 300;
      line-height: 36px;
      color: grey;
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}


/* animista............ */

.text-shadow-pop-bottom {
	-webkit-animation: text-shadow-pop-bottom 0.6s both;
	animation: text-shadow-pop-bottom 0.6s both;
      letter-spacing: 4px;
}
--------------------------------------

@-webkit-keyframes text-shadow-pop-bottom {
      0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      }
      100% {
            text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
            -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
      }
}
@keyframes text-shadow-pop-bottom {
      0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
            transform: translateY(0);
      }
      100% {
      text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
      -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
      }
}



